* {
    font-family: 'Cairo', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}
.container, .editor {
    max-width: 700px;
    margin: 20px auto 75px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.upload-area {
    border: 2px dashed #333;
    padding: 20px;
    cursor: pointer;
    background-color: #fafafa;
}
.upload-area input {
    display: none;
}
.upload-area.highlight {
    background-color: #ddd;
}
.file-info {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}
.editor {
    direction: ltr;
    display: none;
    position: relative;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-end;
}
.editor .title {
    font-size: 20px;
    font-weight: 600;
}
.editor .image-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.editor img {
    max-width: 490px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}
.controls {
    border: 0.2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}
.controls div {
    direction: rtl;
}
.edit-tools {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}
.edit-tools button {
    width: 90%;
    margin-bottom: 10px;
}
.controls button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.controls p {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.image-state {
    width: 100%;
    text-align: left;
}
.tools {
    display: none;
}
.active {
    display: block;
}
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0; 
    width: 100%;
}

@media (max-width: 480px) {
    /* Adjustments for smaller screens */
    header {
        font-size: 20px;
        padding: 15px;
    }
    .container, .editor {
        margin-top: 10px;
        padding: 15px;
    }
    .editor .title {
        width: 100%;
    }
    .upload-area {
        padding: 15px;
    }
    .editor .image-content {
        flex-direction: column;
        align-items: center;
    }
    .editor img {
        max-width: 100%;
        height: auto;
    }
    .controls {
        width: 100%;
        margin-top: 20px;
    }
}
